.cards{ /*este código maneja las cards*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    
    /* background-color: black; */
}

/* .h2{
    color: #8b6a6a;
} */

/*  */

/* display: flex;
    flex-direction: column; 
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-attachment: fixed; */


/* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 15vh;
    background-color: #fcff4f;
    padding: 1em;
    margin: 5px;
    font-weight: 500;
    border-radius: 5%; */