/* .container{
    background-color:inherit;
    display: flex;
    flex-direction: row;
    place-content: center;
} */

.divPpal{
    display: inline-block;
    place-content: center;
    
   
    width: 25%;
    height: 100%;
    background-color: rgb(7, 7, 49);
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    Box-shadow:  3px 6px 15px 4px  rgb(20, 9, 2);
    outline: 4px solid blue;
    color: green;
    
    
}
   
.x{
    width: 100%;
    background: white;
    font-size: 40px;
    margin:auto;
    padding: 10px;
    cursor: pointer;
    transition-duration: 0.5s;
    border-radius: 20px;
    
    
}

.x:hover{
    transform: scale(0.6);
    transition-duration: 0.5s;
} 

img{
    width: 100%;
}
.text{
    display: flex;
    justify-content: space-evenly;
}
