/* .container{
    background-color:inherit;
    display: flex;
    flex-direction: row;
    place-content: center;
} */

.divPpal{
    display: inline-block;
    place-content: center;  
    width: 25%;
    height: 100%;
    background-color: rgb(7, 7, 49, 0.8);    
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    /* Box-shadow:  3px 6px 15px 4px  #140902; */
    outline: 1px solid #0000ff;
    color: #008000;  
    
}

.divName{
    color: #008000;
    text-decoration: none; 
}

.divPpal:hover{
    transform: scale(0.9);
    transition-duration: 0.2s;
}
  
.x{
    width: 50px;
    background: white;
    font-size: 40px;
    margin:auto;
    padding: 10px;
    cursor: pointer;
    transition-duration: 0.5s;
    border-radius: 20px;  
    
}

.x:hover{
    transform: scale(0.6);
    transition-duration: 0.5s;
    background: #d5d5e0;
} 

img{
    width: 100%;
    border-radius: 10px;
}
.text{
    display: flex;
    justify-content: space-evenly;
    text-shadow: 15%;
    background-color: none;
    border-radius: 15px;
}