.search{
    width: 400px;
    padding: 12px 20px;
    margin-right: 10px;
    border-radius: 200px;
    border: none;
    background-color: #f1f1f1;
}

.buttonSearch{

    background-color: #82a43a;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 200px;
    cursor: pointer;
    font: Roboto;
}

.buttonSearch:hover{
    background-color: #0000ff;
    border: 1.5px solid #008000
}