.search{
    background-color: transparent;
    margin-top: 10px;
    width: -40vw;
    height: 8vh;  
}

.input{

    width: 400px;
    padding: 12px 20px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f1f1f1;
}

.searchButton{

    background-color: #82a43a;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font: Roboto;
}

.searchButton:hover{
    background-color: #0000ff;
    border: 1.5px solid #008000
}