.App {
   text-align: center;
   background-image: url(https://hintergrundbild.org/wallpaper/full/8/4/f/5700-vertical-rick-and-morty-wallpapers-1920x1080-pictures.jpg);
   background-attachment: fixed;
   background-size: cover;

}
