.nav{
    display: flex;
    padding: 12px 20px;
    align-items: center;
    justify-content: center;
    
    background-color: rgb(24, 204, 195, 0.3);
    
    /* display: flex;
    justify-content: space-between; */
}
.navAbout{
    padding: 12px 20px;   
    color: whitesmoke;
    cursor: pointer;
    font: Roboto;
}
.navHome{
    padding: 12px 20px;   
    color: whitesmoke;  
    cursor: pointer;
    font: Roboto; 
}