.nav{
    display: flex;
    padding: 12px 20px;
    align-items: center;
    justify-content: space-evenly;
    
    background-color: rgb(24, 204, 195, 0.3);
    
    /* display: flex;
    justify-content: space-between; */
}
.navAbout{
    padding: 12px 20px;   
    color: whitesmoke;
    cursor: pointer;
    font: Roboto;
}
.navHome{
    padding: 12px 20px;   
    color: whitesmoke;  
    cursor: pointer;
    font: Roboto; 
}
.logout{
    background-color: #82a43a;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 200px;
    cursor: pointer;
    font: Roboto;
    justify-content: space-around;
}

.logout:hover{
    background-color: #18ccc3;
    border: 1.5px solid #008000
}